:root {
    --primary-color: #1E3A8A;
    --primary-color-dark: #172e71;
    --primary-color-light: #3461E5;
    --secondary-color: #D1D5DB;
    --secondary-color-dark: #C7CBD1;
    --secondary-color-light: #EAEEF4;
    --highlight-color: #34D399;
}
/* ? GERAIS */
*{margin: 0;padding: 0;}
*,*::before,*::after {box-sizing: inherit;}
body {background: #1A1A1A;}
html{box-sizing: border-box;scroll-behavior: smooth;}
h1, h2, h3, h4 {color: var(--highlight-color);}
p {color: var(--secondary-color);}
a {text-decoration: none;}
.btn {padding: 10px 20px; text-transform: uppercase; letter-spacing: 1.6px;}
.btn__primary {background: var(--primary-color); color: #fff;}
.btn__primary:hover, .btn__primary:focus, .btn__primary:active {background: var(--primary-color-dark); color: #fff;}
.btn__primary:focus-visible {box-shadow: 0 0 0 0.25rem rgba(23, 46, 113, .5);}
.btn__primary:is(:disabled) {background: rgba(30, 58, 138, .5);}
.bg-primary-color {background: var(--primary-color);}
/* ? FIM GERAIS */

/* ? HOME */
/* * SOBRE O APP */
.img__ceo {position: relative;}
.img__ceo img {max-height: 450px; object-fit: cover; border-radius: 16px; width: 100%;}
.img__ceo figcaption {position: absolute; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.8); width: 100%; padding: 16px; border-radius: 0 0 16px 16px;}

/* * FONTES */
.fonte a {color: var(--highlight-color); transition: .3s;}
.fonte a:hover {color: var(--primary-color-light);}
/* ? FIM HOME */

/* ? SOBRE */
.stepper__playlist circle {color: var(--highlight-color);}
.stepper__playlist .MuiStepIcon-root.Mui-completed {color: var(--primary-color-light);}
.stepper__playlist .MuiStepLabel-label {color: #f0f0f0;}
.stepper__playlist .MuiStepLabel-label.Mui-active {color: var(--highlight-color);}
.stepper__playlist .MuiStepLabel-label.Mui-completed {color: var(--primary-color-light); text-decoration: line-through;}
.img__passo img{height: 100%; width: 200px;}
button.btn:disabled:not(.btn__primary-modal) {display: none;}
/* ? FIM SOBRE*/

/* ? QUIZ */
.modal__quiz { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; background: var(--secondary-color); padding: 16px; border-radius: 8px;}
.modal__quiz select {width: 100%; padding: 8px; background: transparent; border-radius: 4px;}
.modal__quiz option {background: var(--secondary-color);}
.modal__quiz .modal-info {color: #000;}
.modal__quiz h2, .modal__quiz h3 {color: var(--primary-color);}
.modal__quiz h3 {font-size: 20px;}
@media (max-width: 768px) {.modal__quiz {width: 300px; }}
/* ? FIM QUIZ */